DATABASE_URL=postgresql://postgres:SUA_SENHA@db.vgawovbxbvtbyrcwdrto.supabase.co:5432/postgres
NEXTAUTH_SECRET=gere-com-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@fazendao.com.br
ADMIN_PASSWORD_HASH=$2b$10$HASH_GERADO_COM_BCRYPT
